.command-panel {
    -fx-pref-height: 400;
    -fx-pref-width: 250;
    -fx-alignment: top_center;
    -fx-spacing: 10;
    -fx-padding: 10 10 10 10;
    -fx-background-color: -background-grey;
    -fx-border-radius: 3px;
}

.command-panel-vbox {
    -fx-pref-width: 250;
    -fx-pref-height: 180;
    -fx-alignment: top_center;
    -fx-spacing: 4px;
    -fx-border-radius: 3px;
}

.input-field {
    -fx-pref-width: 120;
    -fx-pref-height: 24;
    -fx-border-radius: 3px;
}

.command-label{
    -fx-pref-width: 250;
    -fx-pref-height: 24;
    -fx-content-display: right;
    -fx-alignment: center_right;
    -fx-border-radius: 3px;
}

.command-panel-button {
    -fx-pref-width: 250;
    -fx-pref-height: 24;
    -fx-background-color: #cca0a0;
    -fx-border-radius: 3px;
}

.button:pressed {
    -fx-background-color: -header-color;
}


.title-label {
    -fx-background-color: -header-color;
    -fx-text-fill: -header-title-color;
    -fx-alignment: center;
    -fx-pref-width: 250;
    -fx-pref-height: 29;
    -fx-border-radius: 3px;
}

.text-field {
    -fx-background-color: #ffffff;
}

.text-field:focused {
    -fx-background-color: -background-grey-selected;
}

.combo-box .list-cell {
    -fx-text-fill: #000000;
}
.combo-box-popup .list-view{
    -fx-background-color: #ffffff;
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #ffffff;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: -background-grey-selected;
    -fx-text-fill: -header-color;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: -background-grey-selected;
    -fx-text-fill: -header-color;
}

.combo-box-base{
    -fx-background-color: #ffffff;
    -fx-padding: 0;
}